@use "../../abstracts/index" as abs;

.user-list {
  @media (width > abs.$mobile-width) {
    min-width: 80px;
  }
}

.main-nav--closed .user-list {
  @media (width < abs.$tablet-width) {
    display: none;
  }
}

.main-nav--nojs .user-list {
  @media (width < abs.$tablet-width) {
    display: block;
  }
}

.user-list__link {
  position: relative;
  display: block;
  padding: 13px 20px 13px 49px;
  line-height: 24px;
  color: #ffffff;

  @media (width < abs.$tablet-width) {
    background-color: #6a4d38;

    &:active {
      color: rgb(255, 255, 255 / 30%);
    }
  }

  @media (width > abs.$mobile-width) {
    &:hover {
      color: #826550;
    }

    &:active {
      color: #ffffff;
      opacity: 0.3;
    }
  }
}

.user-list__icon-login {
  position: absolute;
  width: 16px;
  height: 16px;
  color: #ffffff;
  opacity: 0.3;

  @media (width < abs.$tablet-width) {
    top: 17px;
    left: 19px;
  }
}

.user-list__link:hover .user-list__icon-login {
  @media (width > abs.$mobile-width) {
    color: #826550;
    opacity: 1;
  }
}

.user-list__link:active .user-list__icon-login {
  @media (width > abs.$mobile-width) {
    color: #ffffff;
    opacity: 0.3;
  }
}
