@use "../../abstracts/index" as abs;

.user-list {
  @media (width >=abs.$tablet-width) {
    min-width: 80px;
  }
}

.user-list__link {
  position: relative;
  display: block;
  padding: 17px 20px 17px 49px;
  line-height: 24px;
  color: #ffffff;

  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
  }
}

.user-list__icon-login {
  position: absolute;
  top: 21px;
  left: 19px;
  width: 16px;
  height: 16px;
  color: #ffffff;
  opacity: 0.3;
}
