@use "../../abstracts/index" as abs;

.stats {
  background-color: #242424;
  color: #ffffff;
}

.stats__wrapper {
  @media (width > abs.$mobile-width) {
    padding: 0 64px;
  }

  @media (width >=abs.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 960px;
    margin: auto;
    padding: 0;
  }
}

.stats__header {
  padding: 28px 20px;
  background-color: #ffffff;
  color: #000000;
}

.stats__slogan {
  margin: 0;
  font-weight: bold;
  line-height: 1;

  @media (width < abs.$tablet-width) {
    font-size: 30px;
    margin-bottom: 13px;
    text-transform: uppercase;
    text-align: center;
  }

  @media (width > abs.$mobile-width) {
    font-size: 40px;
    margin-bottom: 25px;
  }

  @media (width >= abs.$desktop-width) {
    margin-bottom: 38px;
  }
}

.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 1.35;

  @media (width < abs.$tablet-width) {
    text-align: center;
  }
}

.stats__intro br {
  @media (width < abs.$tablet-width) {
    display: none;
  }
}

.stats__legend {
  display: block;
  margin: 0;
  font-size: 20px;
  line-height: 1;
}

.stats__legend--top {
  @media (width < abs.$tablet-width) {
    display: none;
  }

  @media (width > abs.$mobile-width) {
    margin-top: 24px;
    color: #b3b3b3;
  }

  @media (width >=abs.$desktop-width) {
    margin-top: 34px;
    line-height: 1.35;
    color: rgb(0 0 0 / 30%);
  }
}

.stats__legend--bottom {
  @media (width < abs.$tablet-width) {
    color: rgb(255 255 255 / 30%);
    text-align: center;
  }

  @media (width > abs.$mobile-width) {
    display: none;
  }
}

.stats__list {
  margin: 0;
  margin-bottom: 20px;
  background-color: #353535;

  :nth-of-type(1) {
    background-color: rgb(45 38 130 / 5%);
  }

  :nth-of-type(2),
  :nth-of-type(4) {
    background-color: rgb(255 255 255 / 12%);
  }
}

.stats__item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.stats__number {
  font-weight: bold;
  line-height: 1;

  @media (width < abs.$tablet-width) {
    font-size: 40px;
  }

  @media (width > abs.$mobile-width) {
    font-size: 72px;
  }

  @media (width >= abs.$desktop-width) {
    line-height: 1.35;
  }
}

.stats__number sup {
  margin-left: -5px;
  vertical-align: top;
}

.stats__text {
  margin: 0;
  text-align: end;
}
