@use "../../abstracts/index" as abs;

.logo-mobile {
  display: none;

  @media (width < abs.$tablet-width) {
    display: block;
    color: #000000;
    width: 226px;
    height: 30px;
  }
}

.logo-tablet {
  display: none;

  @media (width > abs.$mobile-width) and (width < abs.$desktop-width) {
    display: block;
    color: #000000;
    width: 370px;
    height: 100px;
  }
}

.logo-desktop {
  display: none;

  @media (width >= abs.$desktop-width) {
    display: block;
    color: #000000;
    width: 370px;
    height: 153px;
  }
}

