@use "../../abstracts/index" as abs;

.site-list {
  @media (width > abs.$mobile-width) {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    column-gap: 34px;
    width: 560px;
  }

  @media (width >=abs.$desktop-width) {
    column-gap: 1px;
    width: 800px;
  }
}

.main-nav--closed .site-list__item {
  @media (width < abs.$tablet-width) {
    display: none;
  }
}

.main-nav--nojs .site-list__item {
  @media (width < abs.$tablet-width) {
    display: block;
  }
}

.main-nav--closed .site-list__item--active {
  @media (width < abs.$tablet-width) {
    display: block;
    text-align: center;
  }
}

.main-nav--nojs .site-list__item--active {
  @media (width < abs.$tablet-width) {
    text-align: left;
  }
}

.site-list__item a {
  display: block;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;

  @media (width < abs.$tablet-width) {
    padding: 12px 21px;
    border-top: 1px solid #886e5b;
    border-bottom: 1px solid #71543F;
    background-color: #826550;

    &:hover {
      background-color: #755a46;
    }

    &:active {
      background-color: #6A4D38;
      color: rgb(255 255 255 / 30%);
    }
  }

  @media (width > abs.$mobile-width) {
    padding: 24px 0;

    &:hover {
      color: #826550;
    }

    &:active {
      color: rgb(255 255 255 / 30%);
    }
  }

  @media (width >=abs.$desktop-width) {
    padding: 24px 20px;

    &:hover {
      color: #000000;
      background-color: #ffffff;
    }

    &:active {
      color: rgb(0 0 0 / 30%);
    }
  }
}

.site-list__item--active a {
  @media (width > abs.$mobile-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 3px;
      background-color: #826550;
    }
  }

  &:hover {
    @media (width > abs.$mobile-width) {
      color: #ffffff;
    }

    @media (width >=abs.$desktop-width) {
      color: #000000;

      &::before {
        background-color: transparent;
      }
    }
  }
}

.main-nav--closed .site-list__item--active a {
  @media (width < abs.$tablet-width) {
    padding-right: 70px;
    padding-left: 70px;
  }
}

.main-nav--opened .site-list__item--active a {
  @media (width < abs.$tablet-width) {
    background-color: #6A4D38;
  }
}

.main-nav--nojs .site-list__item--active a {
  @media (width < abs.$tablet-width) {
    padding-left: 21px;
    background-color: #6A4D38;
  }
}
