@use "../../abstracts/index" as abs;

.site-list {
  @media (width >=abs.$tablet-width) {
    width: 560px;
  }

  @media (width >=abs.$desktop-width) {
    width: 800px;
  }
}

.site-list__item a {
  display: block;
  padding: 12px 21px;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543F;
  background-color: #826550;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;

  &:hover {
    background-color: #755a46;
  }

  &:active {
    background-color: #6A4D38;
    color: rgba(255, 255, 255, 0.3);
  }
}

