@use "../../abstracts/index" as abs;

.page {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 18px;
  line-height: 1;
}

.page__header {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  color: #ffffff;

  @media (width > abs.$mobile-width) {
    background-color: #000000;
  }
}

.page__logo {
  height: 85px;
  text-align: center;

  @media (width > abs.$mobile-width) {
    order: 2;
    height: 400px;
    background-color: #000000;
    background-image: url("../../../img/back-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 50% -9px;
    background-size: cover;
  }

  @media (width >= abs.$desktop-width) {
    height: 648px;
    background-image: url("../../../img/back-desktop.jpg");
    background-position: center;
  }
}

.page__logo-img {
  width: 226px;
  height: 85px;

  @media (width > abs.$mobile-width) {
    margin-top: 39px;
    width: 370px;
    height: 100px;
  }
  @media (width >= abs.$desktop-width) {
    margin-top: 54px;
    height: 153px;
  }
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  background-color: abs.$lightgrey;
  color: #000000;
}
